/* .container {
    width: 90%;
    height: 700px;
    margin: 5%;
  } */
  
  .slick-slide {
    height: 200px;
    box-sizing: border-box;
    padding: 10px;
  }
  
  .slick-slide img {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
  }